nav {
  display: block;
  flex-direction: column;
}

.nav-bar {
  background: #181818;
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  // display: none;

  ul {
    // position: absolute;
    // bottom: 20px;
    // display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 8px;

    li {
      a {
        padding: 10px 0;
        display: block;
        font-size: 22px;
        line-height: 16px;

        &:hover svg {
          color: var(--primary-color);
        }
      }
    }
  }
}

.burger-icon {
  display: none;
}

@media (max-width: 768px) {
  .hidden-nav {
    display: none !important;
  }

  .show-nav {
    display: flex !important;
  }

  ul {
    display: none;
  }

  .app {
    grid-template-columns: none !important;
    grid-template-rows: auto 1fr;
    // height: 0;
  }

  .nav-bar {
    position: sticky;
    top: 0;
    height: 63px;
    min-height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #18181899;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;

    .logo {
      display: flex;
      align-items: center;
      padding-left: 15px;
    }

    // nav {
    //   display: none;
    // }

    nav {
      width: 100%;
      overflow: hidden;
      z-index: 999;
      margin: 0;
      position: absolute;
      // display: flex;
      display: none;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      transition: height 1s linear;

      a:after {
        display: none;
        opacity: 0;
        color: #fff;
        position: initial;
        width: auto;
        margin-left: 10px;
      }

      &.mobile-show {
        display: flex;
        opacity: 1;
        height: 100%;
        background: #18181899;
        margin-top: 125px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 10px 20px;
        animation: backInLeft 1s;

        a {
          display: block;
          opacity: 1;
          padding: 10px 0;
          transition: height 1s linear;
        }
      }

      &.mobile-hide {
        animation: backOutRight 1s;
        opacity: 0;
        background: #18181899;
        margin-top: 125px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 10px 20px;
      }
    }

    .burger-icon {
      display: block;
      align-self: flex-end;
      padding: 15px;
      min-width: 63px;
    }
  }

  a:hover svg {
    opacity: 1 !important;
  }
}

.nav-bar.down {
  top: -63px;
}
