.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 5px;
  border: 1px solid #fff;
  max-width: 100px;
  padding: 0px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
  min-width: 60px;
}
