.flex-row {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 15px;
  height: 100%;
  // justify-content: center;
}

@media (min-width: 768px) {
  .flex-row {
    justify-content: center;
  }
}
