:root {
  --primary-color: #1c7ed6;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'sans-serif';
  font-size: 11px;
  line-height: 1.4;
  font-weight: 300;
  color: #fff;
  background: #022c43;
  /* overflow: hidden; */
  display: block;
  height: 100%;
}

.flat-button {
  // display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 4px;
  font-family: sans-serif;
  padding: 10px 18px;
  margin-top: 10px;
  border: 1px solid;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background-color: #fff;
    color: #022c43;
  }
}

.overflow-scroll {
  overflow: scroll;
  height: 100%;
}
