// .page {
//   width: 100%;
//   height: 100%;
//   position: absolute;
// }

// .top-tags {
//   bottom: auto;
//   top: 35px;
// }

.app {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100dvw;
  column-gap: 50px;
}

.page {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  margin: 35px 0;

  .tags {
    color: #fff;
    opacity: 0.6;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    flex-grow: auto;
  }

  .top-tags {
  }

  .bottom-tags {
  }

  .bottom-tag-html {
    margin-left: -20px;
  }
}
