.contact-page {
  display: flex;
  flex-direction: column;
  gap: 7%;
  width: 100%;
  // height: 100%;

  .text-zone {
    margin-top: 50px;
    p {
      padding-bottom: 15px;
      font-size: 17px;
      font-family: sans-serif;
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
    }
  }
}

@media (min-width: 1400px) {
  div.contact-page {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .contact-info {
      height: 100%;
      width: 50%;

      .contact-list {
        height: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
      }
    }
  }
}
