.contact-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  // width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  // padding-bottom: 100px;
  margin-bottom: 50px;

  li {
    animation: bounceInDown 2s;
    animation-delay: 1s;
    visibility: hidden;
    &:nth-of-type(1) {
      animation-delay: 0.5s;
      visibility: visible;
    }
    &:nth-of-type(2) {
      animation-delay: 0.6s;
      visibility: visible;
    }
    &:nth-of-type(3) {
      animation-delay: 0.7s;
      visibility: visible;
    }
    &:nth-of-type(4) {
      animation-delay: 0.8s;
      visibility: visible;
    }
    &:nth-of-type(5) {
      animation-delay: 0.9s;
      visibility: visible;
    }
    &:nth-of-type(6) {
      animation-delay: 1s;
      visibility: visible;
    }
  }
}
