.footer {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    background: #18181899;

    li {
      a {
        padding: 10px 0;
        display: block;
        font-size: 22px;
        line-height: 16px;

        &:hover svg {
          color: var(--primary-color);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    display: none;
  }
}
