.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 999;
  background: #18181899;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  ul {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    text-align: center;

    li {
      a {
        padding: 10px 0;
        display: block;
        font-size: 22px;
        line-height: 16px;

        &:hover svg {
          color: var(--primary-color);
        }
      }
    }
  }
}

.footer.down {
  bottom: -63px;
}

@media (min-width: 768px) {
  .footer {
    display: none;
  }
}
