:root {
  --primary-color: #1c7ed6;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Helvetica Neue', 'sans-serif';
  font-size: 11px;
  line-height: 1.4;
  font-weight: 300;
  color: #fff;
  background: #022c43;
  overflow: hidden;
  display: block;
}
